/* ***************************************************** */

/* Universal styles */

/* ***************************************************** */

body{
    margin:0;
    padding:0;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #363636;
    
    
     background-image  : url('images/background.jpg');
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
}

p{
    line-height: 190%;
}

a{
    text-decoration: none;
    color:red;
}

.carImg{
    width: 150px;
}

.button{
      display : block;
      background-color: forestgreen;
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}

/* ***************************************************** */

/* Menu */

/* ***************************************************** */

#menu {
    background-color: #16a085;
    height:100px;
}

#menu ul{
 margin:0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li{
    display: inline-block;
}

#menu a{
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;100px;
    color: #ffffff;
    line-height: 100px;
    
    padding: 0 40px;
    border: none;
    display: block;    
}

#menu a:hover{
    background-color: #1abc9c;
}

/* ***************************************************** */

/* Header */

/* ***************************************************** */

#header{
    padding: 60px 0px 40px 0px;
    background-color: #333333;
    text-align: center;
}

#header h1{
    letter-spacing: 0.1em;
    font-size: 44px;
    color: #ffffff;
}

#header p{
    letter-spacing:  0.1em;
    color: #ffffff;
}


/* ***************************************************** */

/* Page */

/* ***************************************************** */

#page{
    min-height:400px;
    padding: 20px;
}

#page h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: skyblue;
}

/* ***************************************************** */

/* Content */

/* ***************************************************** */

#content{
    float:left;
    width: 100%;
    color: aliceblue;
}

/* ***************************************************** */

/* Lists */

/* ***************************************************** */

ul.styled{
    margin:0;
    padding:0;
    list-style-type: none;
}

ul.styled li{
    border-top: solid 1px #e5e5e5;
    padding 14px 0px;
}


/* ***************************************************** */

/* Footer */

/* ***************************************************** */

#footer{
    width: 100%;
    height: 280px;
    background-color: #1e1b1a;
    padding-top:25px;
    padding-left: 22px;
    clear: both;
}

#footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    
}

#footer p{
    color: #adadad;
    
}

#footer a{
    color: #adadad;
}

#box1{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box2{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box3{
    float: left;
    width: 30%;
    padding-left: 30px;
}



/* ***************************************************** */

/* Copyright */

/* ***************************************************** */

#copyright{
    width:100%;
    height:50px;
    text-align: center;
    background-color: #16a085;
    padding-top: px;
    clear: both;
}

#copyright p{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    
}

/* ***************************************************** */

/* Copyright */

/* ***************************************************** */


#gallery img{
	width:120px;
	margin:12px;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
}

#gallery img:hover{
	-moz-transform: scale(3);
	-webkit-transform: scale(3);
	-o-transform: scale(3);
 }

/* ***************************************************** */

/* Info Box full styles*/

/* ***************************************************** */

#info-box-full{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 80%;
    color: black;
      display : block;
      margin  : auto;
}

#info-box-full h2{
    color:red;
}

/*=====contact page style section=====*/


table.contactUs{
    width:90%;
}


